			<footer id="footer">
				<div class="container">
					<div class="footer-bottom">
						<div class="row">
							<div class="col-md-6 col-md-push-6">
								<nav class="footer-menu">
									<ul>
										<li><a href="{% url 'index' %}">Главная</a></li>
										<li><a href="{% url 'services' %}">Услуги</a></li>
										<li><a href="{% url 'blog' %}">Блог</a></li>
									</ul>
								</nav>
							</div>
							<div class="col-md-6 col-md-pull-6">
								<!-- FOOTER TEXT : begin -->
								<div class="footer-text">
									<p>© 2015 SmolNails.ru </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>