            <div id="main-slider" data-interval="8000">
				<div class="slide-list">
					<div class="slide slide-1" data-label="Добро пожаловать" style="background-image: url('media/slider/slide_01.jpg');">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-left valign-middle">
										<h1>Добро пожаловать<br>на SmolNails!</h1>
										<h3>Сайт мастера ногтевого сервиса<br></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slide slide-2" data-label="Скидка 20%" style="background-image: url( 'media/slider/slide_02.jpg' );">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-right valign-middle">
										<h2>10% скидка<br>на маникюр</h2>
										<h3>Только в эту пятницу!<br><a href="{% url 'reservation-form' %}" class="m-open-ajax-modal">Записаться</a></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="slide slide-3" data-label="Интернет магазин" style="background-image: url( 'media/slider/slide_03.jpg' );">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-left valign-middle">
										<h2>Интернет<br>магазин</h2>
										<h3><a href="shop-list.html">Товары</a> в нашем магазине</h3>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
