						<section>
							<header>
								<div class="container">
									<h2>клиенты</h2>
									<p class="subtitle">Читайте, почему они выбирают меня</p>
									<p class="more"><a href="../contact.html" class="c-button m-type-2">Стать наш клиент</a></p>
								</div>
							</header>

							<div class="c-testimonial-list m-paginated">
								<div class="container">
									<div class="testimonial-list-inner">
										<div class="testimonial-list-item">
											<div class="c-testimonial m-has-portrait">
												<div class="testimonial-inner">
													<p class="testimonial-portrait"><span><img src="images/client_01.jpg" alt=""></span></p>
													<blockquote>
														<p>Первый раз - в июне, перед выпускным. Я показывала платье, чтобы мастер подсказала какие-нибудь подходящие варианты маникюра. Сделали нормально, недорого.</p>
														<footer><strong>Ирина</strong>, посетитель</footer>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="testimonial-list-item">
											<div class="c-testimonial m-has-portrait">
												<div class="testimonial-inner">
													<p class="testimonial-portrait"><span><img src="images/client_02.jpg" alt=""></span></p>
													<blockquote>
														<p>Шикарно! Впечатления самые положительные. Девушка работала очень аккуратно, сосредоточенно, полностью по моим пожеланиям. Глазики на обеих руках получились абсолютно одинаковыми. Теперь делают комплименты по поводу необычного красивого маникюра.</p>
														<footer><strong>Кристина</strong>, посетитель</footer>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="testimonial-list-item">
											<div class="c-testimonial m-has-portrait">
												<div class="testimonial-inner">
													<p class="testimonial-portrait"><span><img src="images/client_03.jpg" alt=""></span></p>
													<blockquote>
														<p>Лучше мастера я не встречала, и искать не буду. Покрытие держится 3 недели.  Только к ней!</p>
														<footer><strong>Светлана</strong>, постояный посетитель</footer>
													</blockquote>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>