{% extends 'base.html' %}
{% load extratags %}
{% load thumbnail %}

{% block title %}Услуги{% endblock %}
{% block content %}
		<div id="wrapper">
			<div id="core" class="core-bg-1">
				<div id="page-header">
					<div class="container">
						<h1>Услуги</h1>
						<ul class="breadcrumbs">
							<li><a href="{% url 'index' %}">Главная</a></li>
							<li>Услуги</li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div id="page-content">
						<div class="various-content">
                            {% for ts in typeofservice_list %}
							<section id="{{ ts.slug }}">
								<h2>{{ ts.name }}</h2>
								<div class="row">
									<div class="col-sm-2">
										<p class="textalign-center margin-sides-auto max-width-180">
                                                <img src="{{ ts.image.url }}" class="rounded" alt="{{ ts.name }}">
                                        </p>
									</div>
									<div class="col-sm-10">
										<ul class="c-accordion">
                                        {% for service in ts.service_set.all %}
											<li class="m-has-price">
												<h3 class="accordion-title">{{ service.name }}</h3>
                                                {% if service.old_price != 0 %}
                                                    <p class="accordion-price">
                                                        <span class="strikethrough">{{ service.old_price }} р.</span>
                                                        <span class="sale-price">{{ service.new_price }} р.</span>
                                                    </p>
                                                {% else %}
												    <p class="accordion-price">от {{ service.new_price }} р.</p>
                                                {% endif %}
												<div class="accordion-content">
													<p>{{ service.body }}</p>
                                                    {% addit_inf service.pk %}
												</div>
											</li>
                                            {% endfor %}
										</ul>
									</div>
								</div>
							</section>
                            {% endfor %}
							<section>
								<div class="c-cta-message">
									<div class="row">
										<div class="col-md-8">
											<h2>Предварительная запись к мастеру ногтевого сервиса</h2>
											<p>Так же можно записаться по телефону 7(000)000-00-00</p>
										</div>
										<div class="col-md-4">
											<p class="textalign-right">
												<a href="{% url 'reservation-form' %}" class="c-button m-open-ajax-modal">Записаться</a>
											</p>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
        {% footer_tag %}
		</div>
{% endblock %}